[2014-04-13 03:59] treeder opened #1 "Change README to double dash for word flags and single dash for single letter flags"
Just to keep with common convention.

[2014-04-13 19:36] #1 closed, assigned to rdallman

[2015-04-09 01:41] pcullin-ratio opened #7 "Upload not respecting iron.json in zip package"
In attempting to upload a worker that included an iron.json file, I encountered the error:
"did not find project id in any config files or env variables"

The same iron.json file works fine with the Ruby CLI. Do I need to specify my iron.json file differently with the new CLI, or is it simply not set up to handle iron.json configuration files yet?

[2015-04-09 01:45] rdallman commented on #7
Hi Paul, we've observed this with certain cross compiled builds but we do support iron.json likely right where you have it. what platform are you trying on? we could probably get a new build up for it soon to see that this gets fixed.

[2015-04-09 01:49] pcullin-ratio commented on #7
Thanks for the quick reply! This is for a NodeJS worker.

I also noticed that the name of the worker once it was uploaded corresponded to the name of the zip package provided to the upload. Is there another way to specify the name of the worker similar to how you could using the old .worker files?

From: Reed Allman [mailto:notifications@github.com]
Sent: Wednesday, April 8, 2015 6:46 PM
To: iron-

[2015-04-09 02:07] rdallman commented on #7
oops, sorry, uploading from linux/windows/mac ?

easy fix, just added https://github.com/iron-io/ironcli/commit/8e7ff732b1278cf907eecd4db96b8b96a87cd49f . let me know what platform you're on and might could get you a build quickly. `$ iron worker upload -name yournamehere`

[2015-04-09 02:12] pcullin-ratio commented on #7
This is being run from the Shippable CI service, which in this case uses Ubuntu (via their own Docker image).

Sent by Outlook<http://taps.io/outlookmobile> for Android

On Wed, Apr 8, 2015 at 7:07 PM -0700, "Reed Allman" <notifications@github.com<mailto:notifications@github.com>> wrote:

This is for a NodeJS worker.

oops, sorry, uploading from linux/windows/mac ?

I also noticed that the name of

[2015-04-09 02:24] rdallman commented on #7
perfect, thanks. should be able to get you a build really quick then. I just tried out `0.0.6` on a fresh linux box though and it seems to find my `~/.iron.json` fine. could you confirm you're using `0.0.6` (from `get.iron.io/cli` ?) -- or if not, which build are you using?

[2015-04-09 02:27] rdallman commented on #7
fwiw mine looks like (ruby and go do have different parsers, thinking maybe a bug, they should both evaluate the same):

[code]

[2015-04-09 18:05] pcullin-ratio commented on #7
Mine is segregated by environment name like this:

{
  "test": {
    "token": "test_token",
    "project_id": "test_project_id"
  },
  "stage": {
    "token": "staging_token",
    "project_id": "staging_project_id"
  },
  "production": {
    "token": "production_token",
    "project_id": "production_project_id"
  }
}

As I mentioned, this same iron.json file has been used in the past with the old

[2015-04-09 18:13] pcullin-ratio commented on #7
This is what I'm referring to (from the Iron CLI v1.0 Workflow article):

Upload with Multiple Environments

It is common to want to use IronWorker across many different development environments.

When uploading your worker you can specify an environment via the ** --env ** (or ** -e ** option).

Command Line
$ iron_worker upload helloworker --env development
$ iron_worker upload helloworker --env

[2015-04-09 21:58] treeder commented on #7
@pcullin-ratio we're going to dig into this, but as a temporary workaround if you need to get it working now, you can just modify the iron.json file and just use the basic:

[code]

And change it for each upload you are trying to do.

[2015-04-10 01:02] pcullin-ratio commented on #7
Unfortunately that won't work for my current scenario, but I can go back to using the Ruby version for now as a workaround and keep tabs on progress in getting this implemented. Thanks for looking into it!

[2015-04-10 16:46] rdallman commented on #7
@pcullin-ratio thanks for details! we do support the different environments like you ask, but the flag has moved. we will document this better for future users, thanks for the feedback.

[code]

I've tested this and it seems to work for me, could you verify it works on your end?

[2015-04-17 22:27] pcullin-ratio commented on #7
No, this is not working for me. I included my iron.json file in the zip package being uploaded via the CLI, but still get the error "did not find project id in any config files or env variables".

[2015-04-17 23:01] pcullin-ratio commented on #7
Also, having the -env flag in the middle of the command like that is problematic from an npm scripting perspective (you can only pass arguments to the end of commands using npm, which I am for CI scripting).

But back to the problem at hand - do you think you'll be able to fix this issue soon? I'm happy to engage in a pairing session or something if that is more efficient.

[2015-04-18 13:02] treeder commented on #7
Hi @pcullin-ratio , could you post the exact command you are running the output/error?

[2015-04-20 04:03] pcullin-ratio commented on #7
I'm running into two main issues currently:
1) Still not able to get the CLI to recognize a specific environment using the iron.json I'm including within the uploaded package (more details already covered in this issue from previously)
2) Upon successful upload of a zip package using the CLI, when I queue the worker it runs but errors and logs output to the console indicating my worker script file

[2015-04-20 16:07] treeder commented on #7
Regarding the upload command, looks like your'e missing the node command. You have:

[code]

It should be:

[code]

[2015-04-22 02:02] alnutile opened #8 "Docker version local works but not remote"
Goal was to working locally with docker images per the beta docs and then once uploaded that same worker would work.

Ran locally
docker run --rm -v "$(pwd)":/worker -w /worker iron/images:php-5.6 sh -c "php /worker/workers/PDF2PagesWorker.php -payload tests/testspayload.json"

(tried 5.5 and 5.4 as well locally I think one did not work eg convert not found)

Then when I uploaded this

iron worker

[2015-04-22 02:04] alnutile commented on #8
one more addition

did this

[code]

then

[code]

and still 5.5 and a fail of course since it is missing convert

https://hud.iron.io/tq/projects/54dceb433373aa0006000121/tasks/553701562ca9500414004d0f

[2015-04-22 18:33] treeder commented on #8
@alnutile you definitely need to change the zip for a new upload to take hold, can you add a character to one of your files, rezip it, then reupload with 5.6?

[2015-04-22 18:39] alnutile commented on #8
thanks trying now

[2015-04-22 18:43] alnutile commented on #8
that worked to increase the version as seen here
https://hud.iron.io/tq/projects/54dceb433373aa0006000121/tasks/5537eb2cd24e3911a601b81a

I can make a new ticket for the next one if needed. I see this locally too when I run

[code]

error as seen in the logs of the link above

[code]

Locally if I remote iron.json or empty it out all is well.

Here is what is has

[code]

no funny spaces or charac

[2015-04-22 20:54] treeder commented on #8
You get that error locally, but not remote?

[2015-04-22 23:39] alnutile commented on #8
that was on remote and local.

So if I leave the iron.json file there on my local and run

[code]

I get the error AND if I upload that to iron I get the error. My local does not need it so I can remove it while I test locally and all is fine.

[2015-04-23 10:03] alnutile commented on #8
So I removed the iron.json file added .iron.json to my home folder and uploaded using this command

[code]

To get around that issue

## Next Issue

overall I do not think I am running the same versions cause locally this works great but when I upload it I get the error seen here

https://hud.iron.io/tq/projects/54dceb433373aa0006000121/tasks/5538c2232df6ff606900cd5f/log

convert.im6: Postscript d

[2015-04-23 10:12] alnutile commented on #8
btw it is clear now that the files are not there. So either my always working download failed?
Again just trying to see why it works here 100% of the time and not there.

Thanks again!

[2015-04-23 12:04] alnutile commented on #8
I tested a bit more to make sure the files are there and they are.
So at this point not sure what direction to go. Considering it works locally using docker run then I assume right now what I am running on iron is not docker?

[2015-04-23 12:06] rkononov commented on #8
@alnutile iron is using docker for sure, there are few differences
1) we're launching all user's code under user nobody
2) home dir is at /mnt/task

[2015-04-23 12:11] alnutile commented on #8
thanks @rkononov since none of my paths are the issue then why does it work when I run

[code]

on my machine but dies there due to file folder issues?

My code is based on relative paths btw.

[2015-04-23 12:14] alnutile commented on #8
trying now btw with a new chmod

[code]

[2015-04-23 12:17] alnutile commented on #8
nope.

One other thought is `convert` uses a temp folder `-sOutputFile=/tmp/` during the process. Is this not writable?

[2015-04-23 12:17] rkononov commented on #8
try to use /mnt/task/tmp instead of /tmp

[2015-04-23 12:22] alnutile commented on #8
thanks trying now

[2015-04-23 12:28] alnutile commented on #8
still no luck. Tried /mnt/task/tmp and storage that I am using for initial images.

I can keep working on this with you or I can use gem install iron_worker_ng and use ver 1 to switch this back?

[2015-04-23 12:31] rkononov commented on #8
if you share to me PDF2PagesWorker.php or simplified version of it (like just using convert that is working locally but doens't work on backend) i could try to debug directly on server side

[2015-04-23 12:54] alnutile commented on #8
the worker file calls in other classes so I will share below the process and files you need

Convert run like this

[code]

We do this over a directory but I assume you will see it with one file.

I tried your temp idea as such

[code]

But that did not seem to help

Finally the pdf file you can use to make sure that is not an issue on your end

https://www.dropbox.com/s/c5mjwnpr6d78ak2/page_001.p

[2015-04-23 14:58] alnutile commented on #8
any luck on this? I tried iron_worker and can focus on rolling back to that if needed?

But then I have to shift some code around since there laravel examples you have are for Laravel 4 and do not work with Laravel 5 due to previous issues in namespacing and curl I reported,

[2015-04-23 15:01] treeder commented on #8
@alnutile can you email me at travis at iron dot io so we can get on a real-time chat?

[2015-04-23 15:17] alnutile commented on #8
for sure

[2015-04-23 15:30] alnutile commented on #8
sent email taking lunch for the next hour, going to talk to Tom soon too about going up to a custom/production level worker plan btw since we are going to be doing a lot of this when the app is released

[2015-04-28 15:23] rdallman commented on #7
resolved via slack, updating docs meow

[2015-04-28 15:23] #7 closed

[2015-05-07 01:57] pcullin-ratio opened #11 "Breaking changes in v0.0.7"
The release of v0.0.7 seems to have caused some breaking changes to `upload` - most of which I've been able to overcome by inspecting the CLI code, but one of which I cannot seem to get past.

I first noticed the new version had been released when I saw `-name` was now required. After adding `-name` to my upload scripts, I also discovered the location of the flag was important (has to immediately

[2015-05-07 02:05] treeder commented on #11
We'll check this out shortly. The old way *should* still work.

[2015-05-07 02:11] pcullin-ratio commented on #11
Thanks @treeder! By old way do you mean with `--stack`? I tried that too, and it resulted in issues with properly recognizing the `-zip` flag. Basically it looked like it skipped the stack argument and thought my command was part of the zip value.

[2015-05-07 04:05] rdallman commented on #11
Hi @pcullin-ratio this is super weird, I tested for backward compatibility (aside from new name req.) with the following command: `iron --env prod worker upload --stack ruby-2.1 --name hello hello.zip ruby hello.rb ` and it totally works :( . sorry for the breakage, but thanks for the detailed feedback. will dig into this tomorrow. p.s. we're probably deprecating stack if you want to move the new

[2015-05-07 04:08] pcullin-ratio commented on #11
Could it be because I didn't "double dash" my name arg? Is that required?

[2015-05-07 04:09] rdallman commented on #11
nope, single vs double should be the same.

[2015-05-07 04:09] rdallman commented on #11
the ordering thing is completely wackadoo

[2015-05-07 16:44] pcullin-ratio commented on #11
Could the zip path issue I mentioned be caused by having a file path preceding my zip file name? More specifically something like this: `-zip ./workers/My_Worker.zip`. I wonder if the zip argument parsing logic in the CLI is only expecting `filename.zip` with no other preceding path info (and specifically not a `.`)?

[2015-05-07 16:50] pcullin-ratio commented on #11
Here is a specific example of one of my upload commands, notice the zip path:
`iron --env test worker upload -name RSS_Parser_Worker -zip ./workers/rss/worker/RSS_Parser_Worker.zip iron/images:node-0.10 node worker.js`

[2015-05-07 21:29] pcullin-ratio opened #12 "Feature Request: Windows Compatibility"
When I attempt to install the CLI on a 64-bit Windows 8.1 machine via `curl -sSL http://get.iron.io/cli | sh`, I get the message `Error: you are not using a 64bit platform. Iron CLI currently only supports 64bit platforms.`

I'm guessing there is a larger Windows-incompatibility issue, since the error message is inaccurate in my case. Lack of Windows support for the CLI is a pretty significant iss

[2015-05-07 22:46] treeder commented on #8
@alnutile can we close this now?

[2015-05-07 23:36] rdallman commented on #12
@pyeremenko could you or somebody in kg test this please? need a way to automate windows builds for releases too if you guys have any ideas. thanks.

[2015-05-07 23:37] pcullin-ratio commented on #11
Following discussion with @treeder and @rdallman determined commands must be in the following format in 0.0.7:

`iron --env [ENVIRONMENT] worker upload -name [NAME] --stack [STACK] [FILENAME].zip [COMMAND]`

- Image name isn't currently supported as indicated (i.e. must include `--stack` and not use format like `iron/images:node-0.10` for example)
- `-zip` flag is not supported as documented - don

[2015-05-07 23:37] #11 closed

[2015-05-08 16:43] #8 closed

[2015-05-22 21:43] pcullin-ratio commented on #12
Updated documentation has been added by @pyeremenko but it doesn't look like iron.exe for Windows is making it into your release process yet. It would be super duper appreciated if you could please include the compiled Windows iron.exe in each Github release for download from now on.

[2015-05-23 09:15] pyeremenko commented on #12
@pcullin-ratio, please check https://github.com/iron-io/ironcli/releases/tag/v0.0.8 and try to use msi file there.

[2015-06-03 17:38] pcullin-ratio opened #17 "400 Bad Request Error on upload with Iron Docker image"
According to the README, I'm using this command format to upload workers:
`iron worker upload --zip myworker.zip myworker iron/images:ruby-2.1 ruby hello.rb`

But I get the error:
`400 Bad Request: You do not have custom Docker images privilege. Contact support@iron.io to upgrade your account.`

I'm using the `iron/images:node-0.10` image, not my own custom image. So although the command supports

[2015-06-04 14:06] rkononov commented on #17
public cluster updated, API servers rolled out, should be fixed

[2015-06-30 15:33] nimajalali opened #25 "Mac build in release v0.0.14 not running"
In release v0.0.14 the mac build looks to be an invalid binary.

Getting this
[code]

For now I downloaded the last release v0.0.10 and everything is working fine.

[2015-06-30 15:43] rdallman commented on #25
yep, looks like all the binaries are ELF. sorry about that, will re release right now

[2015-06-30 15:54] rdallman commented on #25
here go, updated just now: https://github.com/iron-io/ironcli/releases/tag/v0.0.14

[2015-06-30 15:58] rdallman commented on #25
let us know if this works so we can close it out, thank you!

[2015-06-30 15:59] rdallman commented on #17
@pcullin-ratio still having issues here?

[2015-06-30 16:40] pcullin-ratio commented on #17
No, all good now.

[2015-06-30 16:40] rdallman commented on #17
cool, thanks

[2015-06-30 16:40] #17 closed

[2015-06-30 18:26] nimajalali commented on #25
Tested on mac and linux.

Looks Good :+1:

[2015-06-30 18:26] #25 closed

[2015-07-31 18:21] ysadka opened #30 "Add cluster flag to schedule command"
<img width="296" alt="1 bash 2015-07-31 11-21-00" src="https://cloud.githubusercontent.com/assets/3474501/9014273/3b30f6f4-3776-11e5-8826-d3a7f8d91782.png">

[2015-07-31 19:13] #30 closed

[2015-08-26 23:17] treeder opened #34 "Use goptions?"
What do you guys think of using goptions: https://github.com/voxelbrain/goptions

It's quite nice, much cleaner and easier than what we've got in here. Example:

https://github.com/treeder/docker-jockey/blob/master/dj.go#L27

@rdallman @rkononov

[2015-08-26 23:56] rdallman commented on #34
looks like pretty much a drop in for `flag` package with some struct tags. like it, simple, don't need a whole framework. might look around the block for any others that are similar

[2015-08-27 06:57] rkononov commented on #34
like it, pretty simple and cleaner

[2015-08-29 03:11] stephfz commented on #17
Hello,
I'm version  v0.0.15 and when executing
[code]
Getting the message
[code]

I'm not using custom image, and still command is not being accepted

[2015-08-31 22:39] rdallman commented on #17
@stephfz command should be `$ iron worker upload --name hello --zip hello.zip --config-file config.json iron/images:ruby-2.1 ruby hello.rb`

[2015-09-29 14:58] stengland opened #38 "Allow the setting up default_priority when uploading a worker code package"
It would be very handy if you could set default_priority (as described in the api http://dev.iron.io/worker/reference/api/#upload_or_update_a_code_package) when uploading a worker.
[code]

Currently the only way to do this seems to be by using curl as none of the iron client libraries seem to allow this.

[2015-09-29 21:09] rdallman commented on #38
Hey @stengland , this is an easy one, will try to get this in today / tomorrow.

[2015-09-30 16:07] stengland commented on #38
@rdallman That would be awesome thanks :smile:

[2015-10-06 19:49] ches opened #40 "Better installation methods should have bug-level priority"
`curl` piped to `sh` *and you're not even serving that script with TLS/SSL*? C'mon folks, it's downloading a pre-built binary and putting it on a path :smile:  I'm sure Windows is a bigger pain, but a Homebrew formula and throwing [fpm] at this should literally be doable in an hour even if you've never packaged something with them before…

Sorry to sound surly here, but I worry for sake of your le

[2015-10-06 19:58] ches commented on #34
It's heavier-weight perhaps, but FWIW I've found [Kingpin] quite pretty, in code and help output.

[Kingpin]: https://github.com/alecthomas/kingpin

[2015-10-06 20:54] rdallman commented on #40
thanks for opening the issue. the curl pipe sh seems to offend certain people more than others (rust (famously) has a large disclaimer about the whole thing in their install guide [here](http://doc.rust-lang.org/book/installing-rust.html)). we do need to add SSL to the endpoint as we're not showing a three step download, inspect and run method for installs; thanks for highlighting this, it's just

[2015-10-06 21:19] treeder commented on #40
There's also the docker way which doesn't require an install (other than docker).  Needs a merge: https://github.com/iron-io/ironcli/pull/37

[2015-10-07 09:31] ches commented on #40
Thanks for the responsiveness guys. SSL is the main worry for me, many people will surely just run it blindly without noticing or caring about the difference but at least you can do a lot to help those unwitting people avoid a malicious man-in-the-middle (a published `curl http:// | sh` instruction represents a juicy target for such malicious people).

Being pragmatic I'm not terribly offended by

[2015-10-07 18:14] #38 closed

[2015-10-07 18:41] rdallman commented on #38
hey @stengland could you try https://github.com/iron-io/ironcli/releases/tag/v0.0.16 please ? thanks!

[2015-10-07 21:21] stengland commented on #38
Yep that seems to be working. Thanks @rdallman

[2015-10-08 23:37] arschles opened #42 "More installation methods"
continues #40

- build RPMs and put into a yum repo
- `apt-get`
- homebrew
- others?

Any installation methods that we add should automatically build and publish to the appropriate repo on all  updates to `master`

[2015-10-30 11:29] ches commented on #40
:+1: for the `https://` and new disclaimer in the README :smiley:

[2015-11-03 03:05] elephantjim opened #44 "alpine binary release"
Say, could you create a git release with a binary for alpine linux?  Alpine isn't compatible with the ironcli_linux binary because of the dependency on glibc (versus musl).  I know there's the iron/cli docker image.  However, if I want to include the iron binary in my own docker image -- but, say, not use "FROM iron/cli" as my base image -- I need to snarf the /usr/local/bin/iron binary from your

[2015-11-03 17:41] treeder commented on #44
Hi @elephantjim , good idea. You can build it yourself pretty easily, just clone this repo and run this shell script:

[code]

That's from this script that makes the iron/cli docker image: https://github.com/iron-io/ironcli/blob/master/build-docker.sh#L8

[2015-11-03 18:06] elephantjim commented on #44
Ok, thanks!  We can add that as a workaround to our deployment pipeline for now.

[2015-11-05 19:58] kevmoo opened #45 "A way to assign a label via the CLI?"
It'd be really nice...

[2015-11-06 17:14] rdallman commented on #45
sure, easy to add. will add a ticket

[2015-11-06 17:23] #45 closed

[2015-11-06 17:23] rdallman commented on #45
done. thanks @kevmoo

[2015-11-06 17:24] rdallman commented on #12
this is part of release process now. if we can do any better, just let us know!

[2015-11-06 17:24] #12 closed

[2015-11-06 17:58] kevmoo commented on #45
Thank you, @rdallman !

Will this be part of 0.0.17?

[2015-11-06 18:04] rdallman commented on #45
done https://github.com/iron-io/ironcli/releases/tag/v0.0.17

[2015-11-06 18:06] kevmoo commented on #45
One line to change? https://github.com/iron-io/ironcli/blob/master/install.sh#L12

[2015-11-06 18:08] rdallman commented on #45
should be fixed -- push failed.

[2015-11-06 18:30] kevmoo commented on #42
+1 on homebrew.

See a request for a password is SCARY. Most homebrew install avoid this.

[2015-11-09 03:04] treeder opened #47 "Add iron/cli Docker build to main build script"
It's here: https://github.com/iron-io/ironcli/blob/master/build-docker.sh

[2015-11-16 10:59] dukelion opened #50 "sh: line 70: iron: command not found when installing on fresh Centos 7"
Apparently installation script doesn't work because of "/usr/local/bin" missing in PATH env variable.

[2015-11-16 17:39] #50 closed

[2015-11-20 01:30] elephantjim commented on #44
@treeder Say, I've been having some problems with the Alpine build.  They happen with queues regardless of whether I build it myself or even if I `docker pull iron/cli`.  For example, if I try `iron mq list`, I get `400 Bad Request: Version mismatch: unsupported API version '3', expected version '2', please upgrade your client. See http://docs.iron.io`.  Is it hitting the wrong endpoint?

[2015-11-20 01:34] rdallman commented on #44
Hi Jim, it means you are trying to use the cli against v2 -- we decided not to support mq v2 in the CLI since it is deprecated in favor of v3. happy to help get you moved over to v3, no plans to add v2 support to CLI (but patches accepted ;)

[2015-11-20 01:36] elephantjim commented on #44
@rdallman Thanks.  I know that.

But you're not hearing me: this happens with the binary in iron/cli docker image.  It also happens if I try building the iron binary myself.  `iron mq list` fails with the above error.

[2015-11-20 01:40] rdallman commented on #44
As far as I can understand, the CLI is behaving as expected  -- sorry if I am misunderstanding. If you'll pop into y'alls support channel we could go over your iron.json and maybe get more details. Are you saying there is an issue with the binary / docker or are you simply having issues getting an expected response (maybe this is what I'm confused about) ?

[2015-11-20 01:42] elephantjim commented on #44
Try this:
[code]

You'll get:
[code]

[2015-11-20 01:43] rdallman commented on #44
I see. so by default we're using a v2 URL when we should be using a v3 URL, correct ?

[2015-11-20 01:44] elephantjim commented on #44
Yes, that seems to be the case.

[2015-11-20 01:49] rdallman commented on #44
thanks, filed a bug. workaround is change host to `mq-aws-us-east-1-1.iron.io` until we get a patch in

[2015-11-20 01:55] elephantjim commented on #44
Ah, ok.  Cool beans.  Thanks!

[2015-12-05 17:58] lauraweindorf opened #57 "Windows ironcli.exe returning version mismatch (unsupported API version) error on upload"
With iron.json containing just project_id and token, ironcli.exe upload returns version mismatch error:

`400 Bad Request: Version mismatch: unsupported API version '2', expected version '3', please upgrade your client. See http//docs.iron.io`

I'm using the latest ironcli.exe version (0.0.20).

When I explicitly added the host entry to my iron.json, it worked. I was thinking this is an issue and

[2015-12-06 15:06] lauraweindorf commented on #57
Sorry! This issue can be closed.

I forgot that I previously set the environment variable `IRON_HOST` in my profile to the new MQv3 host to get my queue stuff working. That value was overriding what I had in my local `iron.json` for my worker :-P.

[2015-12-06 16:32] rdallman commented on #57
Thanks, we have improved that error message in the next release.

[2015-12-06 16:32] #57 closed

[2015-12-14 06:49] John-Lin commented on #42
homebrew +1

[2015-12-28 04:05] carljmosca opened #58 "unable to "docker login" to a private repo"
I have a private Docker repo (V2) at artifactoryonline.com

I can "docker login" to the repo but "iron docker login ..." fails with "Docker repo auth failed"

I am doing this:

[code]

(with actual values for upper-cased variables)

suggestions?

[2015-12-28 17:42] carljmosca commented on #58
This appears to be a V1 vs V2 issue.  Removing the "users/" from call to http.NewRequest() in commands.go around line 494 allows me to login.  I am also able to do a "register".

However, when I try to "work queue..." it fails with image not found.

[2015-12-31 18:47] rdallman commented on #58
hi @carljmosca thanks for raising this issue. by removing `users/` from the URL you are doing a GET against the root for `https://COMPANY-dockerdockerv2-local.artifactoryonline.com/v2/` rather than attempting to authenticate your user. this basically bypasses our verification that you passed us valid docker credentials.

What I'd like to do to resolve this issue is two fold:

1) I'd like to stop d

[2015-12-31 18:55] carljmosca commented on #58
Hello @rdallman

I am not certain I was able to get the commercially-hosted private V1 Docker repo working with or without iron.io.

I do know the V2 one works nicely for us and I look forward to trying it again with iron.io once this update is available.

Thank you for the quick follow up (especially given the holidays) and for a nice user experience/support in general.

Regards and Happy New Yea

[2016-01-18 19:09] gchatter commented on #42
Also note: services such as codeship don't let you run any commands via sudo: https://codeship.com/documentation/faq/root-level-access/.  I'm not sure how we can run the latest ironcli on CI services such as these?

[2016-02-29 09:37] andrest opened #61 "CLI not accepting config file flag"
[code]

[code]

What's going on here?

[2016-02-29 17:33] rdallman commented on #61
Hi @andrest, `--config-file` is for uploading a config file into the worker, not the config file that we use to authenticate your request to us. If you place `$PWD/scripts/iron.json` in `$PWD/iron.json` then that should work, another alternative is using env vars, e.g. `IRON_TOKEN=xxx`. Does this answer your question?

[2016-02-29 18:06] andrest commented on #61
I'd like to keep the .iron file in config/scripts folder, is there any way to specify the file location with the CLI tool?

[2016-02-29 18:13] rdallman commented on #61
There is not right now, I guess we could have an env var that points to a config file? we're trying to get everybody moved over to env vars now. pull requests welcome if it's urgent on your end.

[2016-02-29 18:26] andrest commented on #61
I solved it by calling iron CLI from my build script in /scripts. This lets me do npm run build anywhere, no matter my current directory. I guess environment variables would work too. I'll close this. Thanks for the reply! :)

[2016-02-29 18:26] #61 closed

[2016-02-29 18:54] andrest commented on #61
@rdallman it seems the docs may be a bit out of sync in regards to the preferred approach http://dev.iron.io/worker/languages/nodejs/ still

[2016-04-03 21:20] rdallman commented on #42
I spent some time putting together a homebrew installation and have it basically working and passing all of their checks. I think the biggest thing stopping us from supporting a lot of alternative installation methods is going to be whether we can / can we invest the time to automate each release update. For homebrew it appears that this is going to be us forking (and keeping it open & up to date)

[2016-04-03 21:20] rdallman commented on #40
closing this for #42

[2016-04-03 21:20] #40 closed

[2016-04-03 21:23] rdallman commented on #44
https://github.com/iron-io/iron_mq_ruby/commit/7e912aceffd8381f82eeed18d25dff96dc816653

[2016-04-27 17:24] pulkitsinghal opened #71 "Invalid image name format"
When running:
`iron worker upload node:0.10.44 node hello.js`

I receive an error stating:
`400 Bad Request: Invalid image name format`

`node:0.10.44` is a valid image name format just like `iron/node`
Can you comment if you agree this should be fixed or not?

[2016-04-27 17:51] nikhilm commented on #71
Thanks for bringing this to our attention. It is indeed a bug. I will update this once we have a fix.

[2016-05-09 13:42] sampsasaarela opened #72 "Cannot override code package name with register command"
Command ``iron register --help``tells that you can override package name with ``-name`` flag, but it doesn't work.

I tried with this command, but it still use USERNAME/image as package name
``iron worker register -name custom_name USERNAME/image:tag``

[2016-08-18 17:25] treeder opened #80 "Update CLI to support entire developer workflow (entire API?)"
There should be no need to use HUD, user should be able to use the cli to interact without going to HUD. This may mean to support the entire API in an intuitive way.

[2016-08-18 21:44] treeder opened #81 "Add `iron version` command"
To print version, in addition to the -version one.

[2016-08-19 00:24] mjbrender commented on #80
Awesome @treeder - I'd really love to see this fleshed out.

Step 1 of missing functionality is the ability to list out my workers in order to use the CLI further. I can't do anything useful without this part. Sticking with the same syntax that exists now, I'd expect an `iron worker list` command to be available.

Example:

[code]

Hey @nanliu, we had a good conversation about this after comparing

[2016-08-19 00:30] mjbrender commented on #80
It may also be helpful to refer to Heroku as an example of a robust CLI you can aim for parity with: https://devcenter.heroku.com/articles/using-the-cli

Those it's a little counterintuitive as a syntax. I prefer Docker's structure (and use of environmental variables): https://docs.docker.com/engine/reference/commandline/cli/

[2016-08-22 14:22] Nyarum opened #82 "Cover "Code Packages" endpoints"
From http://dev.iron.io/worker/reference/api/ and https://github.com/iron-io/ironcli/issues/80

What we need?
- [ ] Cover this endpoints in separate package.
- [ ] Cover commands for that in CLI

[2016-08-22 14:22] Nyarum opened #83 "Cover "Tasks" endpoints"
From http://dev.iron.io/worker/reference/api/ and https://github.com/iron-io/ironcli/issues/80

What we need?
- [ ] Cover this endpoints in separate package.
- [ ] Cover commands for that in CLI

[2016-08-22 14:23] Nyarum opened #84 "Cover "Scheduled Tasks" endpoints"
From http://dev.iron.io/worker/reference/api/ and https://github.com/iron-io/ironcli/issues/80

What we need?
- [ ] Cover this endpoints in separate package.
- [ ] Cover commands for that in CLI

[2016-08-22 14:24] Nyarum opened #85 "Cover "Stacks" endpoint"
From http://dev.iron.io/worker/reference/api/ and https://github.com/iron-io/ironcli/issues/80

What we need?
- [ ] Cover this endpoints in separate package.
- [ ] Cover commands for that in CLI

[2016-08-22 16:39] nanliu commented on #80
Two more things:

* `heroku/gcloud login` which is just a convenience for generating the credential file.
* easy way access to running instance (not sure if there's an equivalence in Iron.io). Something along the lines of `heroku access`, `gcloud compute ssh`.

[2016-08-22 16:48] treeder commented on #80
Thanks guys!  Very helpful feedback. @Nyarum can you add one for the login?  I like that. Perhaps user can set the login credentials for each directory they are in, similar to heroku since each directory would most likely be a different project.

@nanliu we don't have access to instances, the system doesn't really work that way.

[2016-08-23 14:32] treeder opened #86 "Setup circle ci and tests for existing things to ensure we don't break anything with new changes"
Should be done before  #79 and #80.

[2016-08-23 14:33] treeder commented on #86
cc @pedronassar @Nyarum

[2016-08-23 19:49] Nyarum commented on #86
@treeder for now we don't have any tests.
Are we need to write their or use just "go build" for test?

[2016-08-23 19:51] treeder commented on #86
we should write some tests

[2016-08-23 19:53] Nyarum commented on #86
@treeder maybe we can do it after #79?
Because there is a many changes and we can test some commands manually, for next we'll start to write tests for commands.

[2016-08-24 20:17] Nyarum commented on #81
@treeder related to https://github.com/iron-io/functions/issues/13
And will be done as will finished issue above.

[2016-09-12 20:56] treeder commented on #80
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;bHbzxMtc&#x2F;4-great-cli-experience-greg"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Great cli experience - Greg</a>

[2016-09-14 18:39] Nyarum commented on #81
@treeder it's done.

[2016-09-14 18:43] Nyarum commented on #86
Now #79 has merged so I started a deep investigate for better testing our cli.

[2016-09-14 20:06] thousandsofthem opened #88 "Update HUD url"
In the log i see
[code]
Url should be updated from hud to hud-e, e.g.

`https://hud-e.iron.io/worker/projects/PROJECT_ID/tasks/TASK_ID/`

[2016-09-15 17:16] noqcks commented on #71
fixed in https://github.com/iron-io/go/pull/682

closing.

[2016-09-15 17:16] #71 closed

[2016-09-15 17:18] noqcks commented on #72
commits by @vlopatkin have fixed this. It is working in the latest release of iron cli

[2016-09-15 17:18] #72 closed

[2016-09-15 17:27] noqcks commented on #88
fixed by https://github.com/iron-io/ironcli/pull/89

[2016-09-15 17:27] #88 closed

[2016-09-20 14:02] treeder commented on #44
Can we close this?

[2016-09-20 14:16] treeder opened #91 "Create new release - current release is 0.1.2 which is old"
Preferably we should just do a release off master and automate it. But for now, just do our regular release process which I **think** is just pushing to the `release` branch, then circle will do the release.

[2016-09-20 14:19] treeder commented on #85
We don't need this one covered anymore, stacks are deprecated.

[2016-09-20 14:20] treeder opened #92 "Function tool to make it easier to create and manage functions."
See: https://github.com/iron-io/functions/issues/13

This may have already been done/in progress by @pedronasser

[2016-09-20 14:23] treeder opened #93 "Login command to generate local credentials file"
See: https://github.com/iron-io/ironcli/issues/80#issuecomment-241472879

[2016-09-20 14:25] treeder opened #94 "Change all help strings to use double dashes for flags that are more than one character, single dash for single character"

[2016-09-20 14:32] rdallman commented on #91
push to prod branch... i'm skeptical that everything broke from that giant
patch so we should all probably try it for a while

On Tue, Sep 20, 2016 at 7:16 AM, Travis Reeder <notifications@github.com>
wrote:

[2016-09-21 05:52] elephantjim commented on #44
It's up to you.

The original issue was that there is no git release with a binary for alpine linux.  That's still true.  All the iron.io docker images use alpine, but there's no release in this repo that's binary compatible with alpine (because of libc).

My testing around that issue eventually turned up another issue, the default version/host for queues.  That issue was resolved.

[2016-09-21 21:58] Nyarum commented on #92
@pedronasser what do you say about that?
[code]

[2016-09-21 22:01] Nyarum commented on #94
@treeder for now, in the master branch we have this.

[2016-09-28 17:58] nikhilm opened #99 "Error handling no longer has context in places"
Things like

[code]

have become - https://github.com/iron-io/ironcli/blob/master/cmd/lambda/lambda_publish_function.go#L53

losing the "Error pushing image:" context.

@Nyarum

[2016-09-29 19:08] Nyarum commented on #81
Closed

[2016-09-29 19:08] #81 closed

[2016-09-29 19:08] Nyarum commented on #94
Closed

[2016-09-29 19:08] #94 closed

[2016-09-29 19:30] Nyarum commented on #34
Already exists with better solution.

[2016-09-29 19:30] #34 closed

[2016-09-29 21:59] nikhilm opened #100 "crash on worker queue without project settings."
Pre urfave:
[code]

post urfave (master):

[code]

Could you literally just run this with every command+subcommand with `-h` flag and make sure they don't crash. Make this a higher priority than the tests. Thank you.

[2016-09-29 22:01] nikhilm commented on #91
Blockers #100 #99 #98 #97 #96 #95 at the very least.

[2016-09-29 22:11] nikhilm opened #101 "Consolidate run and register and worker upload commands."
They all seem to do similar things, not sure what the intention was.

@treeder @rdallman

[2016-10-04 18:47] Nyarum commented on #85
Closed

[2016-10-04 18:47] #85 closed

[2016-10-04 18:47] Nyarum commented on #84
Closed

[2016-10-04 18:47] #84 closed

[2016-10-04 18:47] Nyarum commented on #83
Closed

[2016-10-04 18:47] #83 closed

[2016-10-04 18:47] Nyarum commented on #82
Closed

[2016-10-04 18:47] #82 closed

[2016-10-04 19:53] Nyarum commented on #100
Fixed.

[2016-10-04 19:53] #100 closed

[2016-10-04 20:08] Nyarum commented on #86
Done unit tests with a minimal cover.

[2016-10-04 20:08] #86 closed

[2016-10-05 19:29] Nyarum commented on #99
Done

[2016-10-05 19:29] #99 closed

[2016-10-05 20:34] Nyarum commented on #91
@treeder now we have the 0.1.3 version - https://github.com/iron-io/ironcli/releases/tag/0.1.3

[2016-10-05 20:34] #91 closed

[2016-10-06 06:38] Nyarum opened #105 "Check backward compatible"
From customer:
[code]

[2016-10-10 15:01] Nyarum commented on #105
Closed

[2016-10-10 15:01] #105 closed

[2016-10-11 18:57] Nyarum opened #108 "Revert code to the old way in master branch"
Still, we don't have a tool for compare the old way with the new way we need to revert changes to the old way and continue work on a new functional.

What we need to do:
- [x] Save current master branch in an another branch
- [x] Revert code to the old way in master branch

[2016-10-11 19:01] Nyarum commented on #108
We will store the new way in https://github.com/iron-io/ironcli/tree/backlog_the_new_way branch

[2016-10-11 19:21] #108 closed

[2016-10-13 22:52] rdallman commented on #58
this is fixed and pending release now, closing. took long enough!

[2016-10-13 22:52] #58 closed

[2016-11-01 05:57] zkanda opened #112 "Getting an error for version mismatch."
Hello,

For some reason, iron-cli stop working for me today, I'm getting this errors but not sure how to fix it on my end.

[code]

[2016-11-01 06:02] rdallman commented on #112
the error message really tries :) open to suggestions, can't win with that thing.

usually when this happens you're hitting an mq v3 host to try to use worker. per the error message, try adding a section for `"iron_mq"` to your `iron.json` or use `IRON_MQ_HOST` rather than changing `"host"` in the top level and attempting to use worker commands with it.

closing as not a cli issue, feel free to op

[2016-11-01 06:02] #112 closed

[2016-11-01 06:34] zkanda commented on #112
From my investigation, using `~/.iron.json` doesn't default to v3. I have something like this:

[code]

Then I switch to using environment variable and it's now working again.
For other people that might stumble into this, if you want to keep using the json file, you probably need to add `api_version` in there. Reference: http://dev.iron.io/worker/reference/configuration-iron-json/index.html#accep

[2016-11-03 00:00] tunezaq commented on #44
@treeder
How about replacing the ironcli_linux binary with a statically linked version?
[code]

Tested this on a CentOS box and in a docker alpine container and it worked fine.

[2016-11-03 17:51] rdallman commented on #44
done. thanks @tunezaq

[2016-11-03 17:51] #44 closed

[2016-11-03 18:11] rdallman commented on #47
this is done https://github.com/iron-io/ironcli/blob/master/circle.yml#L50-L52

[2016-11-03 18:11] #47 closed

[2016-11-03 18:11] rdallman commented on #92
closing, this is separate now

[2016-11-03 18:11] #92 closed

[2016-11-03 18:14] rdallman commented on #101
they all do the same thing, somebody just wanted 'cooler' looking commands is all. kind of stuck supporting both though b/c api breakage, but internally they could be slightly more unified, sure

[2017-10-12 17:26] dylanz opened #125 "IronCLI breaking on Mac OS High Sierra"
"No Docker. I don’t have go installed. macOS High Sierra. I used the shell script to install ironcli: curl -sSL https://cli.iron.io/install | sh"

Stacktrace:  https://gist.github.com/dylanz/2b46b9d36cfdefeffa97c856e998aca2

[2017-10-12 18:04] dylanz commented on #125
"I have an old Mac that can’t run docker. My workaround was to use brew: ‘brew install ironcli’. It installed the same version of ironcli and the command worked."

[2017-10-25 09:38] jortizsao commented on #125
Same issue here

[2017-11-02 07:37] c0ze opened #126 "Sample iron.json file ?"
Hello guys,

Is there a sample iron.json file somewhere ?

[2017-11-02 07:38] c0ze commented on #126
ok, I got one from the web site, project panel, sorry !

[2017-11-02 07:38] #126 closed

[2017-11-13 11:24] rkononov commented on #125
@c0ze is this fixed? can i close it?

[2017-11-13 15:09] c0ze commented on #125
@rkononov , yes I think so. We got feedback from some users as fixed.

[2017-11-13 15:10] #125 closed

[2017-11-13 15:11] rkononov commented on #125
thanks!

[2017-12-01 11:30] emusabaev opened #132 "IronCLI issue on macOS High Sierra"

[2017-12-02 02:41] c0ze commented on #132
interesting. it seems error is thrown from the [iron.cli python  lib](http://pydoc.net/iron/0.2.2/iron.cli/) . There is no reference to either `ironfile.py` or `iron.exceptions.IronFileNotFound` in the Ironcli Go project. I'll have a look.

[2017-12-02 03:09] c0ze commented on #132
it seems this is a lib that used to live in https://github.com/nvie/iron
which does not exist anymore. Is this guy affiliated with the company ? Did he write a python lib for iron ?

https://github.com/nvie/

My initial impression is that the client downloaded this lib/cli by mistake, and this produced a name clash.

[2017-12-02 09:09] rkononov commented on #132
I have no idea who is he and don't remember that he was working for Iron

[2019-10-25 08:09] fdbeirao opened #150 "Zero return on register error"
Hello,

We are observing an issue in our deployment pipeline, where `iron register` logs an error on the console, but still seems to return a zero status code, which leads the CI agent to believe the command was successful.

There are the logs we observe (obfuscated a few bits):

[code]

Upon looking into the source code, and with my limited understanding of go, this line seems to be the culprit:

[2021-02-22 05:17] roopakv opened #151 "Go module support"
This tool is installable via brew. in order to maintain go 1.17 support please release a new version with go modules.

Homebrew/homebrew-core#47627